<div id="usermodif">
	<form action="update.php?type=user&id={{ID}}" method="post">
		<input type="text" placeholder="Name" name="name" value="{{NAME}}"/>
		<input type="text" placeholder="Last Name" name="lastname" value="{{LASTNAME}}"/>
		<input type="text" placeholder="City" name="city" value="{{CITY}}"/>
		<input type="text" placeholder="Address" name="address" value="{{ADDRESS}}"/>
		<textarea type="textaera" name="bio" rows="10" cols="40" value="{{BIO}}">{{BIO}}</textarea>
		<input type="submit" value="Save" name="modif_profil" />
	</form>
</div>